@font-face {
    font-family: 'suisse';
    src: local('suisse'),url('../assets/fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'suisse';
    src: local('suisse'),
         url('../assets/fonts/SuisseIntl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
  }